@page "/"

<h1>EventEase</h1>

<h3>Upcoming Events</h3>

<EventCard
Title="Microsoft Build"
Location="Online"
Date="June 2026" />

<EventCard
Title="AI Workshop"
Location="VIT Vellore"
Date="July 2026" />
